/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    color: #000000;
    background-color: #3333ff;
}

.ms_container{
    width: 80%;
    margin: 0 auto;
}

.ms_main-window {
    background-color: #ffddaa;
    width: 100%;
    margin-top: 4rem;
    border-radius: 15px;

    padding: 3rem;
    /* DEBUG */
    height: 400px;
}